.container {
    background-color:gainsboro;
    width: 100%;
    margin: 0 auto 0 auto;
}
.rightalign{
    float: right;
}
.leftalign {
    float: left;
}
.aligncenter{
    text-align: center;
}

.margin {
  margin: 35px;
}
.text {

}
.margintop{
    margin-top: 7px;
}